body {
    font-family: sans-serif;
    margin: 20px;
    direction: rtl; /* For right-to-left text */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

.job, .education-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
